<template>
  <v-dialog v-model="dialog" max-width="600">
    <v-card min-height="500" class="pa-4">
      <div
        v-for="r in actionInfo"
        :key="r.name"
        v-text="r.info"
        class="px-2 py-1"
      />
    </v-card>
  </v-dialog>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import {PACKAGE_CLEAR_REQUEST} from '@/store/actions';

export default {
  props: {
    value: {
      type: Boolean,
    },
  },
  computed: {
    ...mapGetters(['actionInfo']),
    dialog: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
        if (!val) {
          this.clear();
        }
      },
    },
  },
  methods: {
    ...mapActions({
      clear: PACKAGE_CLEAR_REQUEST,
    }),
  },
};
</script>
