<template>
  <v-data-table
    v-model="selected"
    :headers="headers"
    :items="items"
    item-key="name"
    show-select
    checkbox-color="blue"
    disable-pagination
    hide-default-footer
    @click:row="rowClicked"
  >
    <template #[`item.name`]="{value}">
      <div
        class="font-weight-bold subtitle-1"
        style="font-family: monospace !important"
        v-text="value"
      />
    </template>
    <template #[`item.action`]="{item}">
      <v-btn icon @click="view(item)">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import {PACKAGE_LIST_REQUEST} from '@/store/actions';
import {mapActions, mapGetters} from 'vuex';
import {shell} from 'electron';

export default {
  props: {
    value: {
      type: Array,
    },
    keyword: {
      type: String,
    },
  },
  data() {
    return {
      headers: [
        {text: 'Package Name', value: 'name'},
        {text: '', value: 'action'},
      ],
    };
  },
  computed: {
    ...mapGetters(['packages']),
    selected: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      },
    },
    items() {
      let ps = this.packages;
      if (this.keyword) {
        ps = ps.filter((p) => p.indexOf(this.keyword) !== -1);
      }
      return ps.map((p) => ({
        name: p,
      }));
    },
  },
  methods: {
    ...mapActions({listPackages: PACKAGE_LIST_REQUEST}),
    reload() {
      this.listPackages();
    },
    view(item) {
      shell.openExternal(`https://www.google.com/search?q=${item.name}`);
    },
    rowClicked(_, {isSelected, select}) {
      select(!isSelected);
    },
  },
  mounted() {
    this.reload();
  },
};
</script>
