<template>
  <v-app>
    <v-app-bar app color="primary" class="px-3" dark>
      <v-app-bar-nav-icon v-if="haveSelected">
        <v-tooltip bottom>
          <template #activator="{on}">
            <v-btn v-on="on" icon @click="selected = []">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Clear Selection</span>
        </v-tooltip>
      </v-app-bar-nav-icon>
      <v-app-bar-title v-html="title" />
      <v-spacer />
      <v-text-field
        v-model="keyword"
        dense
        hide-details
        placeholder="Search"
        class="px-4"
        prepend-inner-icon="mdi-magnify"
        clearable
        style="max-width: 200px"
      />
      <v-spacer />
      <v-tooltip bottom>
        <template #activator="{on}">
          <v-btn v-on="on" :disabled="!haveSelected" icon @click="enableApp">
            <v-icon>mdi-run-fast</v-icon>
          </v-btn>
        </template>
        <span>Enable</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{on}">
          <v-btn v-on="on" :disabled="!haveSelected" icon @click="disableApp">
            <v-icon>mdi-bed</v-icon>
          </v-btn>
        </template>
        <span>Disable</span>
      </v-tooltip>
    </v-app-bar>
    <v-main>
      <PackagesList v-model="selected" :keyword="keyword" />
    </v-main>
    <InfoDialog v-model="dialog" />
  </v-app>
</template>

<script>
import {mapActions} from 'vuex';
import PackagesList from './components/PackagesList';
import InfoDialog from './components/InfoDialog';
import {PACKAGE_DISABLE_REQUEST, PACKAGE_ENABLE_REQUEST} from '@/store/actions';

export default {
  components: {
    PackagesList,
    InfoDialog,
  },
  data() {
    return {
      dialog: false,
      keyword: null,
      selected: [],
    };
  },
  computed: {
    selectedCount() {
      return this.selected.length;
    },
    haveSelected() {
      return this.selectedCount > 0;
    },
    title() {
      if (this.haveSelected) {
        return `<b>${this.selectedCount}</b> selected`;
      } else {
        return `App Disable Tool`;
      }
    },
  },
  methods: {
    ...mapActions({
      disable: PACKAGE_DISABLE_REQUEST,
      enable: PACKAGE_ENABLE_REQUEST,
    }),
    enableApp() {
      this.dialog = true;
      setTimeout(() => {
        this.enable(this.selected);
      }, 200);
    },
    disableApp() {
      this.dialog = true;
      setTimeout(() => {
        this.disable(this.selected);
      }, 200);
    },
  },
};
</script>
